# Import settings

In [1]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

from datetime import datetime
import pandas as pd
import pandas_datareader.data as web
# replaces pyfinance.ols.PandasRollingOLS (no longer maintained)
from statsmodels.regression.rolling import RollingOLS
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
idx = pd.IndexSlice

# Get data

In [6]:
DATA_STORE = 'data/assets.h5'
START = 2000
END = 2018
with pd.HDFStore(DATA_STORE) as store:
    prices = (store['quandl/wiki/prices']
              .loc[idx[str(START):str(END), :], 'adj_close']
              .unstack('ticker'))

In [7]:
prices

ticker         ZQK    ZTS   ZUMZ
date
2000-01-03  3.7025    NaN    NaN
2000-01-04  3.5475    NaN    NaN
2000-01-05  3.4850    NaN    NaN
2000-01-06  3.4850    NaN    NaN
2000-01-07  3.4850    NaN    NaN
...            ...    ...    ...
2018-03-21     NaN  84.10  23.95
2018-03-22     NaN  82.06  23.35
2018-03-23     NaN  80.60  23.55
2018-03-26     NaN  83.73  24.65
2018-03-27     NaN  81.86  23.60

[4586 rows x 3 columns]